/*body {
    
    background-color: #ede7f6;
}
.FormContent {
    max-width: 640px;
    padding: 40px 30px 30px 30px;
    margin: 0 auto;
    z-index: 100;
    background-color:white;
    position:absolute;
}
.backgroundStrip {
    background-color: rgb(63, 81, 181);
    position: absolute;
    z-index: 1;
    height: 278px;
    width:100%;
}*/

