<h1>New Employee Initiation</h1>
<div class="pageHeader">Submit Form</div>
<form ng-controller="ALevel3">
    <div class="form-group">
        <div class="row">
            <div class="col-sm-6">
                <input type="button" class="btn btn-primary" value="Back" onclick="window.history.go(-1); return false;" />
                <input type="button" class="btn btn-primary" value="Submit" ng-click="submitForms()" />
            </div>
            <div class="col-sm-6">
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p><small>Page 6 of 6</small></p>
            </div>
        </div>
    </div>
</form>