USE [master]
GO
/****** Object:  Database [niznik_db]    Script Date: 11/14/2017 10:23:52 AM ******/
CREATE DATABASE [niznik_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'niznik_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\niznik_db.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'niznik_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\niznik_db_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [niznik_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [niznik_db]
GO
/****** Object:  Table [dbo].[ACCESSLEVEL]    Script Date: 11/14/2017 10:23:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACCESSLEVEL](
	[AccessID] [int] IDENTITY(1,1) NOT NULL,
	[Access_Level] [int] NOT NULL,
	[Access_Area] [varchar](200) NOT NULL,
	[Description] [varchar](200) NULL,
 CONSTRAINT [PK_AccessID] PRIMARY KEY CLUSTERED 
(
	[AccessID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COMPANY]    Script Date: 11/14/2017 10:23:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COMPANY](
	[CompanyID] [int] IDENTITY(1,1) NOT NULL,
	[Company_Name] [varchar](200) NOT NULL,
	[Description] [varchar](200) NULL,
 CONSTRAINT [PK_COMPANY] PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COMPANY_ACCESSLEVEL]    Script Date: 11/14/2017 10:23:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPANY_ACCESSLEVEL](
	[Company_AccessID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyID] [int] NOT NULL,
	[Access_Level] [int] NULL,
 CONSTRAINT [PK_COMPANY_ACCESSLEVEL] PRIMARY KEY CLUSTERED 
(
	[Company_AccessID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EMPLOYEE_INITIATION]    Script Date: 11/14/2017 10:23:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLOYEE_INITIATION](
	[EmpID] [int] IDENTITY(1,1) NOT NULL,
	[Full_Name] [varchar](100) NOT NULL,
	[Job_Role] [varchar](20) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Mobile] [varchar](20) NOT NULL,
	[Start_Date] [varchar](20) NOT NULL,
	[Job_Others] [varchar](100) NULL,
	[Services_Equipment] [varchar](50) NOT NULL,
	[Services_Equipment_Others] [varchar](100) NULL,
	[Additional_Services] [varchar](150) NULL,
	[Work_For] [int] NOT NULL,
	[Work_For_Others] [varchar](150) NULL,
	[Work_For_Additional_Info] [varchar](150) NULL,
	[Access_Level1] [varchar](20) NOT NULL,
	[Access_Level1_Other] [varchar](150) NULL,
	[Access_Level1_Restriction] [varchar](150) NULL,
	[Access_Level2] [varchar](20) NOT NULL,
	[Access_Level2_Other] [varchar](150) NULL,
	[Access_Level2_Restriction] [varchar](150) NULL,
	[Access_Level3] [varchar](20) NOT NULL,
	[Access_Level3_Other] [varchar](150) NULL,
	[Today_Date] [varchar](50) NOT NULL,
	[Hiring_Manager_ID] [int] NOT NULL,
	[Created_Date] [varchar](50) NOT NULL,
	[Updated_By] [varchar](150) NULL,
	[Updated_Date] [varchar](50) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_EMPLOYEE_INITIATION] PRIMARY KEY CLUSTERED 
(
	[EmpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HIRINGMANAGER]    Script Date: 11/14/2017 10:23:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HIRINGMANAGER](
	[Hiring_ManagerID] [int] IDENTITY(1,1) NOT NULL,
	[Hiring_Manager_Name] [varchar](200) NOT NULL,
	[Hiring_Manager_Email] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Hiring_ManagerID] PRIMARY KEY CLUSTERED 
(
	[Hiring_ManagerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[JOB_ROLE]    Script Date: 11/14/2017 10:23:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[JOB_ROLE](
	[JobID] [int] IDENTITY(1,1) NOT NULL,
	[Job_Role] [varchar](200) NOT NULL,
	[Description] [varchar](200) NULL,
 CONSTRAINT [PK_JOB_ROLE] PRIMARY KEY CLUSTERED 
(
	[JobID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SERVICES_EQUIPMENT]    Script Date: 11/14/2017 10:23:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SERVICES_EQUIPMENT](
	[Service_EquipmentID] [int] IDENTITY(1,1) NOT NULL,
	[Service_Equipment] [varchar](200) NOT NULL,
	[Description] [varchar](200) NULL,
 CONSTRAINT [PK_SERVICES_EQUIPMENT] PRIMARY KEY CLUSTERED 
(
	[Service_EquipmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[EMPLOYEE_INITIATION] ADD  CONSTRAINT [DF_EMPLOYEE_INITIATION_Status]  DEFAULT ((1)) FOR [Status]
GO
USE [master]
GO
